/* Contact Section Styles */

.kontakt {
  margin: 86px auto 0;
  position: relative;
  right: 88px;
  width: 1022px;
}

.text-142 {
  margin: 0 0 0 209px;
  color: #00a906;
  font-size: 40px;
  font-weight: bold;
}

.row-19 {
  margin: 38px auto 0;
  position: relative;
  width: 994px;
}

.budraise_invest_wh {
  float: left;
  margin: 14px 0 0;
}

.col-41 {
  float: left;
  margin: 7px 0 0 152px;
  position: relative;
  width: 194px;
}

.row-26 {
  position: relative;
}

.locator-mark-of-map-and-location-pin-on-transparent-background-free-png {
  float: left;
  margin: 17px 22px 0 0;
}

.text-143 {
  float: left;
  color: #010101;
  font-size: 18px;
  line-height: 1.2;
}

.row-27 {
  margin: 17px auto 0;
  position: relative;
  width: 188px;
}

.layer-23 {
  float: left;
  margin: 0 16px 0 0;
}

.text-144 {
  margin: 1px 0 0;
  color: #010101;
  font-size: 18px;
}

.text-145 {
  float: left;
  margin: 0 0 0 111px;
  width: 163px;
  color: #010101;
  font-size: 18px;
  line-height: 34px;
}

.wrapper-11 {
  height: 823px;
  margin: 50px 0 0;
  position: relative;
  width: 1022px;
}

.warstwa-56 {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -511px;
}

.col {
  left: 50%;
  min-height: 138px;
  padding: 29px 0 37px;
  position: absolute;
  top: 63px;
  width: 360px;
  background: url('../images/warstwa_59.jpg') no-repeat;
  margin-left: -93px;
}

.text-146 {
  margin: 0 0 0 78px;
  font-size: 22px;
  letter-spacing: 0.02em;
}

.text-147 {
  margin: 7px 0 0;
  color: #00a906;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-align: center;
}

.warstwa-57 {
  left: 50%;
  position: absolute;
  top: 360px;
  margin-left: 48px;
}

.col-2 {
  left: 50%;
  min-height: 138px;
  padding: 32px 43px 41px;
  position: absolute;
  top: 552px;
  width: 360px;
  background: url('../images/warstwa_59_kopia.jpg') no-repeat;
  margin-left: -269px;
}

.text-148 {
  margin: 0 0 0 93px;
  font-size: 22px;
  letter-spacing: 0.02em;
}

.text-149 {
  margin: 1px 0 0;
  color: #00a906;
  font-size: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
