@use '../abstracts' as *;


.perspective {
	perspective: 1000px;
}

.card {
	min-height: 450px;

	position: relative;
}

.card-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 0.6s ease;
}

.card:hover .card-inner {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.card-back {
	transform: rotateY(180deg);
	background-color: $primary;
}
.card-carousel-swiper-button-prev.swiper-button-disabled,.card-carousel-swiper-button-next.swiper-button-disabled {
	display:flex!important;
	color:gray;
}
.card-carousel-swiper-button-prev.swiper-button-prev, .swiper-rtl .swiper-button-next {
	left:-5%;
	color:gray;

}
.card-carousel-swiper-button-next.swiper-button-next, .swiper-rtl .swiper-button-next {
	right:-5%;
	color:gray;

}
.card-carousel-swiper-button-next.swiper-button-next, .swiper-rtl .swiper-button-next {
	right:-5%;
	color:gray;
	&:after {
		//background-image: url("../images/corner-arrow.png")!important;
		background-repeat: no-repeat !important;
		width: 100px !important;
		height: 100px !important;
	}
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
	//background-image: url("../images/slider-chevron.png")!important;
	background-repeat: no-repeat !important;
	background-size:contain;
	width: 100px !important;
	height: 100px !important;
	//content:"" !important;
}
