// Mixins
@mixin arrow($pseudo, $position: absolute, $z-index: 0, $top: null, $bottom: null, $left: null, $right: null, $height: 50px, $width: 50px, $background: null, $rotate: 0deg, $scaleX: 1) {
	&::#{$pseudo} {
		position: $position;
		top: $top;
		bottom: $bottom;
		left: $left;
		right: $right;
		height: $height;
		width: $width;
		z-index: $z-index;
		background-repeat: no-repeat;
		background-image: url($background);
		background-size: contain;
		transform: rotate($rotate) scaleX($scaleX);
		content: "";
	}
}

@mixin dotted_arrow($pseudo, $rotate, $flip, $top, $bottom, $left, $right) {
	@include arrow($pseudo,
	$top: $top,
	$bottom: $bottom,
	$left: $left,
	$right: $right,
	$height: 206px,
	$width: 158px,
	$background: "../images/arrow.png",
	$rotate: $rotate,
	$scaleX: $flip
	);
}

@mixin corner_arrow($pseudo) {
	@include arrow($pseudo,
	$bottom: -90px,
	$right: 0px,
	$z-index: 1,
	$background: "../images/corner-arrow.png"
	);
}

@mixin click_arrow($pseudo) {
	@include arrow($pseudo,
	$bottom: 5px,
	$right: -60px,
	$height: 59px,
	$width: 58px,
	$background: "../images/click-arrow.png"
	);
}

// Utility Classes
.click-arrow {
	@include click_arrow(after);
}

.bottom-corner-arrow {
	position: relative;
	@include corner_arrow(after);
}

.dotted__arrow-top-right,
.dotted__arrow-top-right__offer {
	position: relative;
	@include dotted_arrow(before, 180deg, -1, 20px, 0px, -190px, 0px);
}

.dotted__arrow-bottom-right {
	position: absolute;
	@include dotted_arrow(before, 0deg, 1, 70px, 0px, 30px, 0px);
}

.dotted_arrow-bottom-left {
	position: relative;
	@include dotted_arrow(after, 0deg, -1, -25px, 10px, 100%, 0px);
}

.dotted__arrow-top-left {
	position: relative;
	@include dotted_arrow(before, 315deg, 1, -40px, 0px, -120px, 0px);
}

.pointed-block__dotted__arrow-bottom-right {
	position: relative;
	@include dotted_arrow(before, 0deg, 1, -150px, 0px, -200px, 0px);
}

.pointed-block__dotted__arrow-bottom-left {
	position: relative;
	@include dotted_arrow(after, 0deg, -1, -150px, 0px, 150px, 0px);
}

.contact-block_dotted__arrow-bottom-right {
	position: relative;
	@include dotted_arrow(before, 0deg, 1, -32px, 0px, 70px, 0px);
}

.dotted__arrow-bottom-right__support {
	position: absolute;
	@include dotted_arrow(before, 0deg, 1, 90px, 0px, 47%, 0px);
}

.dotted_arrow-bottom-left__profit {
	position: relative;
	@include dotted_arrow(after, 0deg, -1, -100px, 20px, 100%, 0px);
}
.dotted_arrow-bottom-right__start {
	position: relative;
	@include dotted_arrow(after, 0deg, 1, -150px, 0px, -200px, 0px);
}
.dotted__arrow-bottom-left__start {
	position: relative;
	@include dotted_arrow(after, 0deg, -1, -100px, 20px, 100%, 0px);}

.dotted__arrow-bottom-right__taxonomy {
	position: relative;
	@include dotted_arrow(before, 0deg, 1, 150px, 0px, 50px, 0px);

}
